* {
     margin: 0px;
     padding: 0px;
}
#wrap {
     width: 100%;
     margin: 0 auto;
}
ul li {
     list-style: none;
 }
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
section{
    width: 100%;
    margin: 15% 0%;
}








