.cs_main img{
    width: 100%;
}
/*메인 이미지*/

.cs_main p{
     color : #222;
    font-size: 2em;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 80px;
    /*메인 글자 폰트, 색상 사이즈 다 변경할 것*/
}

.explanation{
    border: 2px solid silver;
    width: 70%;
    text-align: center;
    padding-bottom: 50px;
    margin: 0 auto;
    min-height: 600px;
    max-height: 700px;
}

.explanation h2{
    margin-top: 80px;
}
.explanation p{
    padding: 2% 2%;
    line-height: 40px;
}

#csbtn{
 width: 150px;
height: 40px;
background-color: pink;
font-size: 14px;
font-weight: bold;
margin-top : 120px;
}



/*시리얼 가입창*/
.csjoin{
    border: 1px solid silver;
    width :35%;
    margin: 0 auto;
    min-width: 300px;
    position: relative;
    bottom : 500px;
    min-height: 400px;
    display: none;
    background-color: antiquewhite;


}
.csjoin h3{
    line-height: 80px;
}
#serialnum{
    margin: 25px;
    padding: 9px;
}
#serialnext , #backpg{
    margin-top: 40px;
}



/*이 아래로는 pc버전에서만 쓸 것 그 외 모바일 태블릿에선 삭제*/
.bgtest{
    height: 350px;
}
.bgtest1{
    height: 100px;
}
.bgtest2{
    height: 400px;
    width: 80%;
    display: inline-block;
}
.bgtest3{
    width: 19%;
    display: inline-block;
    border: 1px solid bisque;
    background-color: bisque;
    position: relative;
    bottom: 173px;
    right: 9px;
    padding: 170px 0px;
}
.bgtest
.bgtest:nth-child(1) {background: white;}
.bgtest2:nth-child(2){background : url(../img/csbackground.jpg) white 0 0 / 85% auto;
background-attachment: fixed}
.bgtest1:nth-child(3){background: white;}

.bgtitle{
    text-align:left;
    font-size: 30px;
    font-weight: bold;
}
.bgsubtitle{
    font-size: 1em;
    text-align: center;
}




/*--Connect with high-end--*/
.conn{
    width: 100%;
    position: relative;
    padding: 0px;
    text-align: center;


}

.smalltitle{
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}

.snsIcon{

    margin-top: 2%;
    list-style:none;

}
.snsIcon li{
    display: inline-block;
    width: 3%;

}


.instaPhoto li{
    list-style: none;
    display: inline-block;
    width:13%;
    margin-top:3%;


}

.msOver:hover{
    opacity: 0.7;
}

.instaPhoto .jw{

    display: inline-block;

    width: 50%;
    height: 100px;
    border: 1px solid silver;

     background-color: antiquewhite;
}
.instaPhoto .watch{
    display: inline-block;
    width:50%;
    height: 100px;
    border: 1px solid silver;
     background-color: antiquewhite;
}
.iconImg{
    margin-bottom: 100px;
}
