.cs-main {
    width: 100%;
   /* margin: 0px auto;*/

    /*background-color: black;*/
}

.cs-main div {
    display: inline-block;
    width: 24.7%;
}

.thum01 {
    margin: 0px;
}
/*
.thum02{
    margin: 0px;
}
.thum03{
    margin: 0px;
}
.thum04{
    margin-left: 20px;
}
*/

.cs-head p {
    font-size: 3em;
    text-align: center;
    margin: 100px 0px 150px 0px;
}
.cs-menubar p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 70px;
}


.cs-slider{
    width: 35%;
    margin: 0 auto;
}
/*.bxslider{
    width:%;
}*/
.bxslider img{
    width: 94%;
    padding: 20px;
    background-color: pink;
}




.bgtest {
    height: 350px;
}

.bgtest1 {
    height: 100px;
}

.bgtest2 {
    height: 400px;
    width: 80%;
    display: inline-block;
}

.bgtest3 {
    width: 19.5%;
    display: inline-block;
    border: 1px solid bisque;
    background-color: bisque;
    position: relative;
    bottom: 173px;
    right: 9px;
    padding: 170px 0px;
}

.bgtest .bgtest:nth-child(1) {
    background: white;
}

.bgtest2:nth-child(2) {
    background: url(../img/csbackground.jpg) white 0 0 / 85% auto;
    background-attachment: fixed
}

.bgtest1:nth-child(3) {
    background: white;
}

.bgtitle {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.bgsubtitle {
    font-size: 1em;
    text-align: center;
}




/*--Connect with high-end--*/
.conn {
    width: 100%;
    position: relative;
    padding: 0px;
    text-align: center;


}

.smalltitle {
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}

.snsIcon {

    margin-top: 2%;
    list-style: none;

}

.snsIcon li {
    display: inline-block;
    width: 3%;

}


.instaPhoto li {
    list-style: none;
    display: inline-block;
    width: 13%;
    margin-top: 3%;


}

.msOver:hover {
    opacity: 0.7;
}

.instaPhoto .jw {

    display: inline-block;

    width: 50%;
    height: 100px;
    border: 1px solid silver;

    background-color: antiquewhite;
}

.instaPhoto .watch {
    display: inline-block;
    width: 50%;
    height: 100px;
    border: 1px solid silver;
    background-color: antiquewhite;
}

.iconImg {
    margin-bottom: 100px;
}
