@media screen and (min-width : 1024px) {
    .cs-main {
        width: 100%;
        margin: 0 auto ;

    }

    .cs-main div {
        text-align: center;
        width: 100%;
    }

    .thum01 img{
      width: 100%;
    }

    .tbthum {
        display: none;
    }

    .mbthum {
        display: none;
    }

    .cs-head p {
        font-size: 3em;
        text-align: center;
        margin: 100px 0px 80px 0px;
        font-family: 'Cinzel Decorative', cursive;
        font-weight: 500;
    }

    .cs-menubar p {
        text-align: center;
        font-size: 23px;
        margin-bottom: 70px;
        font-family: 'Inria Serif', serif;
        font-weight: 500;

    }


    .cs-slider {
        width: 35%;
        margin: 0 auto;
    }


    .bxslider img {
        width: 94%;
        padding: 20px;
        text-align: center;
        background-color: white;
    }




    .bgtest {
        height: 250px;
    }

    /*.bgtest1 {
        height: 100px;
    }*/

    .bgtest2 {
        position: relative;
        z-index: 1;
        height: 400px;
        width: 100%;
        display: inline-block;
    }

    .bgtest3 {
        width: 100%;
        height: 400px;
        display: inline-block;
        background-color: ;
        position: relative;
        z-index: 2;
        bottom: 404px;
    }


    .bgtest .bgtest:nth-child(1) {
        background: white;
    }

    .bgtest2:nth-child(2) {
        background: url(../img/csbackground.jpg) white 0 0 / 85% auto no-repeat;
        background-attachment: fixed
    }

   /* .bgtest1:nth-child(3) {
        background: white;*/
    }
    .bgalltitle{
        display: inline-block;
        float: right;
        height: 400px;

        background-color : rgb(232,206,194);/*색상 변경할것 베이지 계열*/

    }
    .bgtitle {
        text-align: right;
        font-size: 30px;
        margin: 100px 90px 30px 10px;
       font-family: 'Abril Fatface', cursive;

    }

    .bgsubtitle {
        font-size: 18px;
        text-align: right;
        margin-right: 70px;
        color : white;
    }




    /*--Connect with high-end--*/
    .conn {
        width: 100%;
        position: relative;
        padding: 0px;
        text-align: center;


    }

    .smalltitle {
        padding: 0;
        font-size: 2em;
        font-weight: 300;
        margin: -100px 0 3%;
    }

    .snsIcon {

        margin-top: 2%;
        list-style: none;

    }

    .snsIcon li {
        display: inline-block;
        width: 3%;

    }


    .instaPhoto li {
        list-style: none;
        display: inline-block;
        width: 13%;
        margin-top: 3%;


    }

    .msOver:hover {
        opacity: 0.7;
    }

    .instaPhoto .jw {

        display: inline-block;

        width: 50%;
        height: 100px;
        border: 1px solid silver;

        background-color: antiquewhite;
    }

    .instaPhoto .watch {
        display: inline-block;
        width: 50%;
        height: 100px;
        border: 1px solid silver;
        background-color: antiquewhite;
    }

    .iconImg {
        margin-bottom: 100px;
    }
}



