@media screen and (min-width: 1024px){
#all_view{
    width: 1024px;
    margin: 0 auto;
    padding: 0%;


 }

.storyhead{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;


}

.intMainBox{
    width: 100%;
    margin: 0 auto;
    padding: 0%;

}


.storyUI{

    margin-left: 20px;

    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    display: inline-block;

    box-sizing: border-box;


}
.storyUI li{
    list-style: none;
    display: inline-block;

    padding: 0% 50px 0% 50px;

}
.storyUI li a{

    color:#232323;
    text-decoration: none;
    box-sizing: border-box;


    width: 20%;



}

a{
    cursor: pointer;

}

.active{

    background-color: #6BBAC9;


}

.active a{
    color:#eee;

}


.storyUI li:hover{

    background-color: #DAD9FF;

}
.active a:hover{
    color:#232323;

}



.htit1{


    font-size:27px;

    font-weight: 200;
    text-transform: capitalize;
    width: 100%;




}






.conn{
    width: 100%;
    margin: 0 auto;
    padding: 0px;

    text-align: center;


}

.smalltitle{
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}


.snsIcon{

    margin-top: 3%;
    list-style:none;

}
.snsIcon li{
    display: inline-block;
    width: 100px;

}


.instaPhoto li{
    list-style: none;
    display: inline-block;
    width: 200px;
    margin-top:5%;


}

.msOver:hover{
    opacity: 0.7;
}

.instaPhoto .jw{

    display: inline-block;

    width: 70%;
    height: 100px;
    border: 1px solid silver;

     background-color: antiquewhite;
}
.instaPhoto .watch{
    display: inline-block;
    width:70%;
    height: 100px;
    border: 1px solid silver;
     background-color: antiquewhite;
}

.subWrap{
   width: 100%;
   background-color: silver;

}

.twhite{
    width: 100%;
    color:#232323 !important;

}
.subscribe{


    width: 100%;
    margin-top:9%;
    padding: 70px 0px;
    text-align: center;
    background-color: silver;


}
.subscribe p{
    margin-bottom: 2%;
}

.emailbox {
    width: 100%;
    margin-bottom: 2%;
}

#email{
  width: 50%;
  padding: 10px;

}

.underline{
    text-decoration: underline;
    color:black;
}


#subbtn{
    position: relative;
    padding: 15px 0px;
    width: 10%;
    top:30px;
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color:#eee;
}

#subbtn:hover{
    color:#232323;
    background: white;


}
.history{
    width: 1024px;
    margin: 0px auto;
    padding: 0px;


}


.hsimg{

    width: 1024px;
    margin: 0 auto;

}

.hsimg img{
    width: 40%;

    position: relative;
    left: 3%;

}
.text{

    width: 1024px;
    position: relative;
    margin-top: -42%;
    margin-left: 25%;
    text-align: center;

}

.logoimg1 img{
    width: 90%;

}

.logoimg1:hover{
    opacity: 0.3;

}

.iconImg{
    margin-top: 5%;
    }
.news{
    width:400px;
    margin: 0 auto;
    padding: 0%;


    }
.wideImg{
    display: inline-block;
    margin: 0 auto;
    width: 100%;



}

.wideImg #juimg{

    width: 400px;
    margin-bottom: 20%;
   margin-right: 6%;
}

.wideImg #modelimg{
    width: 500px;

    margin-bottom: 10%;
    margin-left: 5%;
    height: 550px;

}

.introWrap{
    width: 100%;
    margin-bottom: 0% auto;
    padding: 0px;
}
.textWrap{

    width: 100%;
    margin-bottom: 10%;



}
.texthead{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.introText{

    width: 100%;

    text-align: center;


}


}
