@media screen and (max-width:767px) and (min-width: 360px){
#all_view{
    width: 360px;
    margin: 0 auto;
    padding: 0%;


 }

.storyhead{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;


}

.intMainBox{
    width: 100%;
    margin: 0 auto;
    padding: 0%;

}


.storyUI{



    margin-bottom: 15%;
    text-align: center;
    width: 100%;
    display: inline-block;

    box-sizing: border-box;


}
.storyUI li{
    width: 50%;
    list-style: none;
    display: inline-block;
    border: 1px solid silver;
    padding: 3%;
    margin-bottom:1%;

}
.storyUI li a{

    color:#232323;
    text-decoration: none;
    box-sizing: border-box;


    width: 50%;



}

a{
    cursor: pointer;

}

.active{

    background-color: #6BBAC9;


}

.active a{
    color:#eee;

}


.storyUI li:hover{

    background-color: #DAD9FF;

}
.active a:hover{
    color:#232323;

}



.pic-title{
    font-size:27px;
    font-family: 'Cinzel Decorative', cursive;
    width: 100%;
    margin-top: 30%;

}





.conn{
    width: 100%;
    margin: 0 auto;
    padding: 0px;

    text-align: center;


}

.smalltitle{
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}


.snsIcon {

        margin-top: 2%;
        list-style: none;

    }

    .snsIcon li {
        display: inline-block;
        width: 3%;

    }
    .instaPhoto{
        margin: 0 auto;
    }
    .instaPhoto li {
        list-style: none;
        display: inline-block;
        width: 22%;
        margin-top: 5%;

    }


.instaPhoto .jw {

        display: inline-block;
        width: 90%;
        border: 1px solid silver;
        margin-right: 30px;
        background-color: antiquewhite;
    }




    .instaPhoto .watch-mb{
        display: none;
    }

    .iconImg {
        margin-bottom: 100px;
    }
.msOver:hover{
    opacity: 0.7;
}
.subWrap{
   width: 100%;
   background-color: silver;

}

.twhite{
    width: 100%;
    color:#232323 !important;

}
.subscribe{


    width: 100%;
    margin-top:9%;
    padding: 70px 0px;
    text-align: center;
    background-color: #f3f3f3;


}
.subscribe p{
    margin-bottom: 2%;
}

.emailbox {
    width: 100%;
    margin-bottom: 2%;
}

#email{
  width: 50%;
  padding: 10px;

}

.underline{
    text-decoration: underline;
    color:black;
    padding:15%;
}


#subbtn{
    position: relative;
    padding: 15px 0px;
    width: 30%;
    top:30px;
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color:#eee;
}

#subbtn:hover{
    color:#232323;
    background: white;


}
.history{
    width: 360x;
    margin: 0px auto;
    padding: 0px;


}


.hsimg{

    width: 360px;
    margin: 0 auto;

}

.hsimg img{
    width: 40%;

    position: relative;
    left: 3%;

}
.text{

    width: 360px;
    position: relative;
    margin-top: -42%;
    margin-left: 25%;
    text-align: center;

}

.text p img{
    width: 10%;

}

.logoimg1:hover{
    opacity: 0.3;

}

.iconImg{
    margin-top: 5%;
    }
.news{

    width:400px;
    margin: 0 auto;
    padding: 0%;


    }
.wideImg{
    display: block;
    margin: 0 auto;
    width: 100%;



}

.wideImg #modelimg3{

        width:350px;
    margin-bottom: 10%;

    }

.wideImg #modelimg2{

    width: 350px;



}

.wideImg #modelimg{
    width: 350px;

    margin-bottom: 10%;

    display: none;

}

.introWrap{
    width: 100%;
    margin-bottom: 0% auto;
    padding: 0px;
}
.textWrap{

    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;



}
.texthead{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.introText{

    width: 90%;
    margin-left: 5%;
    text-align: center;


}


}
