@media screen and (max-width:767px) and (min-width: 360px){
#all_view{
    width: 360px;
    margin: 0 auto;
    padding: 0%;


 }

.storyhead{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;


}

.intMainBox{
    width: 100%;
    margin: 0 auto;
    padding: 0%;

}


.storyUI{



   margin-bottom: 15%;
    text-align: center;
    width: 100%;
    display: inline-block;

    box-sizing: border-box;


}
.storyUI li{
      width: 50%;
    list-style: none;
    display: inline-block;
    border: 1px solid silver;
    padding: 3%;
    margin-bottom:1%;


}
.storyUI li a{

    color:#232323;
    text-decoration: none;
    box-sizing: border-box;


    width: 20%;



}

a{
    cursor: pointer;

}

.active{

    background-color: #6BBAC9;


}

.active a{
    color:#eee;

}


.storyUI li:hover{

    background-color: #DAD9FF;

}
.active a:hover{
    color:#232323;

}

.pic-title{
    font-size:27px;
    font-family: 'Cinzel Decorative', cursive;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 10%;

}







.conn{
    width: 100%;
    margin: 0 auto;
    padding: 0px;

    text-align: center;


}

.smalltitle{
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}


.snsIcon {

        margin-top: 2%;
        list-style: none;

    }

    .snsIcon li {
        display: inline-block;
        width: 3%;

    }
    .instaPhoto{
        margin: 0 auto;
    }
    .instaPhoto li {
        list-style: none;
        display: inline-block;
        width: 22%;
        margin-top: 5%;

    }


.instaPhoto .jw {

        display: inline-block;
        width: 90%;
        border: 1px solid silver;
        margin-right: 30px;
        background-color: antiquewhite;
    }



    .instaPhoto .watch-mb{
        display: none;
    }

    .iconImg {
        margin-bottom: 100px;
    }
.msOver:hover{
    opacity: 0.7;
}


.subWrap{
   width: 100%;
   background-color: silver;

}

.twhite{
    width: 100%;
    color:#232323 !important;

}
.subscribe{


    width: 100%;
    margin-top:9%;
    padding: 70px 0px;
    text-align: center;
    background-color: silver;


}
.subscribe p{
    margin-bottom: 2%;
}

.emailbox {
    width: 100%;
    margin-bottom: 2%;
}

#email{
  width: 50%;
  padding: 10px;

}

.underline{
    text-decoration: underline;
    color:black;
    padding:15%;


}


#subbtn{
    position: relative;
    padding: 15px 0px;
    width: 30%;
    top:30px;
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color:#eee;
}

#subbtn:hover{
    color:#232323;
    background: white;


}
.history{
    width: 1024px;
    margin: 0px auto;
    padding: 0px;


}


.hsimg{

    width: 1024px;
    margin: 0 auto;

}


.introWrap{
    width: 100%;
    margin-bottom: 0% auto;
    padding: 0px;
}
.textWrap{

    width: 100%;
    margin-bottom: 10%;



}
.texthead{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.introText{

    width: 100%;

    text-align: center;


}

.newtext{
    width:75%;
    text-align: center;

    margin-left: 14%;
    margin-bottom: 5%;
    margin-top: 5%;

}


.campwrap{
    width: 100%;


    margin-bottom: 5%;

    box-sizing: border-box;
    background-color: #fafafa;
    position: relative;
    height: 260px;
}

.camp{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

.imgs img{
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    padding-bottom: 66%;

    height: 260px;

}
.candy{
    width: 100%;
    max-width: 384px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    float: left;
}

.imgs{
    width: 100%;
    height: 260px;

}

.text{
    width: 60%;
    position: relative;
    float: right;



    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 30%;


}

.textbox{
    width: 90%;
    text-align: left;
    position: relative;




}

figure{
    display: block;

}
figcaption{
    display: block;
}

.cateview{
    display: inline-block;
    margin-bottom: 5%;
    color: #6BBAC9;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: bold;

}
.stit1{

    line-height: 1.2;
    font-size:27px;
    letter-spacing: 0.5px;
    font-weight: 200;
    text-transform: capitalize;
    max-width: 600px;
    width: 100%;
    height: 50px;
}


.discover{

     position: absolute;
     bottom: -50%;
     padding: 7px;
     background-color: #6bbac9;
     border: 1px solid #6bbac9;
     color:#eee;
     text-align: center;
}

.discover:hover{
    color:#6bbac9;
    background-color: #eee;

}

.cateview:hover{
    color: #232323;

}

.msOver2:hover{
    opacity: 0.7;
    transition: opacity 350ms;

}

.wide{
     width:100%;

    }

.wide img{
        width:360px;

}




}
