@media screen and (max-width:767px) and (min-width: 360px){
#all_view{
    width: 360px;
    margin: 0 auto;
    padding: 0%;


 }

.storyhead{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;


}

.intMainBox{
    width: 100%;
    margin: 0 auto;
    padding: 0%;

}


.storyUI{



    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    display: block;

    box-sizing: border-box;


}
.storyUI li{
    list-style: none;
    display: block;

    padding: 0% 15px 0% 15px;

}
.storyUI li a{

    color:#232323;
    text-decoration: none;
    box-sizing: border-box;


    width: 30%;



}

a{
    cursor: pointer;

}

.active{

    background-color: #6BBAC9;


}

.active a{
    color:#eee;

}


.storyUI li:hover{

    background-color: #DAD9FF;

}
.active a:hover{
    color:#232323;

}



.htit1{


    font-size:27px;

    font-weight: 200;
    text-transform: capitalize;
    width: 100%;




}






.conn{
    width: 100%;
    margin: 0 auto;
    padding: 0px;

    text-align: center;


}

.smalltitle{
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}


.snsIcon{

    margin-top: 3%;
    list-style:none;

}
.snsIcon li{
    display: inline-block;
    width: 50px;

}

.instaPhoto{
        width: 360px;
        margin: 0 auto;
    }

.instaPhoto li{
    list-style: none;
    display: block;
    width: 150px;
    margin-top:5%;
    margin-left: 30%;

}

.msOver:hover{
    opacity: 0.7;
}

.instaPhoto .jw{

    display: inline-block;

    width: 70%;
    height: 100px;
    border: 1px solid silver;

     background-color: antiquewhite;
}
.instaPhoto .watch{
    display: inline-block;
    width:70%;
    height: 100px;
    border: 1px solid silver;
     background-color: antiquewhite;
}

.subWrap{
   width: 100%;
   background-color: silver;

}

.twhite{
    color:#232323 !important;

}
.subscribe{


    width: 100%;
    margin-top:9%;
    padding: 70px 0px;
    text-align: center;
    background-color: silver;


}
.subscribe p{
    margin-bottom: 2%;
}

.emailbox {
    width: 100%;
    margin-bottom: 2%;
}

#email{
  width: 60%;
  padding: 2%;

}

.underline{
    text-decoration: underline;
    color:black;
}


#subbtn{
    position: relative;
    padding: 15px 0px;
    width: 30%;
    top:30px;
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color:#eee;
}

#subbtn:hover{
    color:#232323;
    background: white;


}
.history{
    width: 360px;
    margin: 0px auto;
    padding: 0px;


}


.hsimg{

    width: 360px;
    margin: 0 auto;

}

.hsimg img{
    width: 100%;

    position: relative;


}
.text{

    width: 360px;
    position: relative;


    text-align: center;

}

.logoimg1 img{
    width: 70%;

}

.logoimg1:hover{
    opacity: 0.3;

}

.iconImg{
    margin-top: 5%;
    }
.news{
    width:300px;
    margin: 0 auto;
    padding: 0%;


    }

}
