#container {
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
    justify-content: center;
    padding-left: 15%;
}

#imgs{
        display: flex;
}

#content {
    width: 30%;
    height: 450px;
    min-width: 500px;
}

#content {
    text-align: left;
}

#link span {
    margin-left: 10px;
    margin-right: 10px;
}

#link, #link span a {
    color: #8A8A8A;
    font-size: 13px;
}

.line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    border: 1px solid #8A8A8A;
}

.bx-wrapper{
    min-width: 500px;
}

p{
    color: #8A8A8A;
}

input {
    padding: 5px;
    border: 1px dolid #8A8A8A;
    background-color: white;
    margin-right: 10px;
}
