#container {
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%
}

#imgs,
#content {
    min-width: 300px;
    margin: 0 auto;
}

#link {
    text-align: right;
}

#content {
    text-align: left;
}

h2 {
    font-family: 'Courgette', cursive;
}

#link span {
    margin-left: 10px;
    margin-right: 10px;
}

#link, #link span a {
    color: #8A8A8A;
    font-size: 13px;
}
.line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    border: 1px solid #8A8A8A;
}

.bx-wrapper{
    min-width: 300px;
}

p{
    color: #8A8A8A;
}

input {
    padding: 5px;
    border: 1px dolid #8A8A8A;
    background-color: white;
    margin-bottom: 20px;
}
