.joinBox{
    width: 360px;
    margin: 100px auto 0px;
}
.loginLogo{
    text-align: center;
}
.loginLogoImg{
    width: 200px;
}
.join_inputBox{
    width: 360px;
    margin: 3% auto 0;
}
.join_inputInner{
    width: 360px;
}
.join_input{
    width: 270px;
    height: 29px;
    margin: 4px 0 14px 0px;
    padding: 10px 35px 10px 15px;
    border: solid 1px #dadada;
    background: #fff;
}
.join_select{
    width: 322px;
    height: 51px;
    padding: 10px 35px 10px 15px;
    margin: 4px 0 14px 0px;
    border: solid 1px #dadada;
    background: #fff;
}
.join_btn1{
    width: 323px;
    margin: 0 0 14px;
    padding: 17px 35px 17px 35px;
    border: solid 1px #dadada;
    background: #232323;
    cursor: pointer;
    color: white;
}
.join_inputBox li:nth-last-child(1){
    margin-top: 20px;
}



