.j_rmain {
     width:  100%;
    margin: 0 auto;
 }

.j_mainimg{
    width: 100%;
    margin: 0 auto;
}

.j_mainimg img{
    width: 100%;
}

.j{
    display: inline-block;
    width: 45%;
    margin-top:  2%;
    margin-bottom: 5%;
}

.j a{
    font-size: 14px;
}

.j img{
    width: 100%;
}
.j img:hover{
    width: 100%;
}
div .j_body{
    text-align: center;
    width: 100%;
    margin: 0 auto;

}
div .j_linetop{
    width: 100%;
    color: #A6A6A6;
    border-bottom: 1px solid silver;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.j_linetop h2{
    margin-bottom: 2%;
    font-size: 35px;
}

.j_linetop h4{
    margin-bottom: 3%;
    font-size: 13px;
}

div .j_linebo{
    text-align: center;
    color: #A6A6A6;
    border-top: 2px solid silver;
    width: 100%;
}

div .s_linetop{
    text-align: center;
    color: #A6A6A6;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

a{
    color: #222;
    text-decoration:none;
}
a:hover{
    color: black;
}
/*
<--------------------------------- afterservice--------------------------------------->
*/

#accordion .content {
    display:none;
}
li{
    list-style:none;
}
.subject{
    font-size: 12px;
    font-weight: 200;
    padding-left: 7%;
    padding: 3%
}
.subject:hover{
    background-color: #f3f3f3;
}
.content{
    font-size: 13px;
    font-weight: 300;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 4% 0% 4% 0%;
}
.s_linetop>h2{
    margin-top: 5%;
}
.a_qa{
    width: 95%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin: 0 auto;
    margin-bottom: 5%;
}
.a_qa ul li{
    border-bottom: 1px solid #A6A6A6;
}
 div ul li div{
    border-top: 1px solid #A6A6A6;
}
#gnb_j{
    ;width:95%;border-bottom:1px solid #A6A6A6;
    background:#fff;z-index:100; margin: 0 auto; margin-bottom: 5%;
}
#gnb_j  li{
    float:left;width:49.98%;
}
#gnb_j li a{
    display:block;padding:10px 0;text-align:center;border-right:1px solid #A6A6A6; border-bottom:1px solid #A6A6A6;border-left:1px solid #A6A6A6; font-size: 14px;
}
#gnb_j li a:hover{
    color: #f22c2d;
}
#gnb_j li a.on{
    border-bottom:4px solid #333;
}
#m1 h2{
    margin-top: 15%
}
#m2 h2{
    margin-top: 15%
}
#m3 h2{
    margin-top: 15%
}
#m4 h2{
    margin-top: 15%
}


.conn{
    width: 100%;
    position: relative;
    padding: 0px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.smalltitle{
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0px 3%;
}

.snsIcon{

    margin-top: 2%;
    list-style:none;

}
.snsIcon li{
    display: inline-block;
    width: 3%;

}


.instaPhoto li{
    list-style: none;
    display: inline-block;
    width:13%;
    margin-top:3%;


}

.msOver:hover{
    opacity: 0.7;
}

.instaPhoto .jw{

    display: inline-block;

    width: 50%;
    height: 50px;
    border: 1px solid silver;

     background-color: antiquewhite;
}
.instaPhoto .watch{
    display: inline-block;
    width:50%;
    height: 50px;
    border: 1px solid silver;
     background-color: antiquewhite;
}
