.j_rmain {
    width: 100%;
    margin: 0 auto;
}

.j_mainimg {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
}

.j_mainimg img {
    width: 100%;
    margin: 0 auto;
}

.j {
    display: inline-block;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.j img {
    width: 100%;
}

.j img:hover {
    width: 100%;
}

div .j_body {
    text-align: center;
    width: 100%;
    margin: 0 auto;

}

div .j_linetop {
    width: 100%;
    color: #222;
    border-bottom: 1px solid silver;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.j_linetop h2 {
    margin-bottom: 2%;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: lighter;
    font-size: 35px;
}

.j_linetop h4 {
    margin-bottom: 2%;
    font-family: 'Pinyon Script', cursive;
    letter-spacing: 1px;
    font-size: 16px;
    color: #6b6b6b;
    font-weight: 500;
}

div .j_linebo {
    text-align: center;
    color: #222;
    border-top: 2px solid silver;
    width: 100%;
}

/*
<--------------------------------- afterservice--------------------------------------->
*/

.s_linetop > h2 {
    text-align: center;
    color: #222;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: lighter;
    font-size: 35px;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: black;
}

#accordion .content {
    display: none;
}

li {
    list-style: none;
}

.subject {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 200;
    padding-left: 7%;
    padding: 3%;
}

.subject:hover {
    background-color: #f3f3f3;
}

.content {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding-left: 5%;
    padding-right: 5%;
    padding: 4%;
}

.j_linetop h2 {
    margin-bottom: 2%;
}

.j_linetop h4 {
    margin-bottom: 3%;
}

.a_qa {
    width: 95%;
    border-top: 1px solid silver;
    margin: 0 auto;
    margin-bottom: 5%;
}

.a_qa ul li {
    border-bottom: 1px solid #A6A6A6;
}

div ul li div {
    border-top: 1px solid #A6A6A6;
}

#gnb_j {
    ;
    width: 95%;
    border-bottom: 1px solid #A6A6A6;
    background: #fff;
    z-index: 100;
    margin: 0 auto;
}

#gnb_j li {
    float: left;
    width: 24.98%;
}

#gnb_j li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    border-right: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
}

#gnb_j li a:hover {
    background-color: #6BBAC9;
}

#gnb_j li a.on {
    border-bottom: 4px solid #333;
}

#m1 h2 {
    text-align: center;
    color: #222;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 35px;
}

#m2 h2 {
    text-align: center;
    color: #222;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 35px;
}

#m3 h2 {
    text-align: center;
    color: #222;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 35px;
}

#m4 h2 {
    text-align: center;
    color: #222;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 35px;
}


.conn {
    width: 100%;
    position: relative;
    padding: 0px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.smalltitle {
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0px 0 3%;
}

.snsIcon {

    margin-top: 2%;
    list-style: none;

}

.snsIcon li {
    display: inline-block;
    width: 3%;

}


.instaPhoto li {
    list-style: none;
    display: inline-block;
    width: 13%;
    margin-top: 3%;


}

.msOver:hover {
    opacity: 0.7;
}

.instaPhoto .jw {

    display: inline-block;

    width: 50%;
    height: 75px;
    border: 1px solid silver;

    background-color: antiquewhite;
}

.instaPhoto .watch {
    display: inline-block;
    width: 50%;
    height: 75px;
    border: 1px solid silver;
    background-color: antiquewhite;
}
