#container {
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.main img {
    width: 100%;
}

.sel li {
    display: inline-block;
    border: 1px solid #888888;
    width:  80px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

.sel li a{
    font-size: 20px;
    color: #444444;
    padding: 5px 5px;
}

h2 {
    margin: 10px auto;
    font-size: 45px;
}

.maps {
    width: 100%;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.line {
    width: 60%;
    border: 0.5px solid #888888;
    margin: 0 auto;
    margin-bottom: 15px;
}

h4{
    margin-top: 5px;
    margin-bottom: 10px;
}

.map1 {
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

#map{
    width: 100%;
    height: 300px;
}

#info {
    width: 30%;
    min-width: 330px;
    height: 450px;
    margin: 0 auto;
    text-align: left;
}

p{
    margin-top: 30px;
}

hr{
    margin-bottom: 10px;
}
