#container {
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.main img {
    width: 100%;
}

.sel li {
    display: inline-block;
    border: 1px solid silver;
    width:  100px;
    height: 50px;
    line-height: 50px;
    margin-left: 33px;
}

.sel li a{
    font-size: 20px;
    color: #444444;
    padding: 10px 5px;
}

h2 {
    margin: 20px auto;
    font-size: 35px;
}

.maps {
    width: 100%;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.line {
    width: 25%;
    border: 0.5px solid black;
    margin: 0 auto;
    margin-bottom: 15px;
}

h4{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.map1 {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#map{
    width: 90%;
    margin: 0 auto;
    height: 500px;
}

#info {
    margin: 0 auto;
    width: 30%;
    min-width: 700px;
    height: 400px;
    text-align: left;
    padding:
}

p{
    margin-top: 30px;
}

hr{
    margin-bottom: 10px;
}
