@media screen and (min-width: 1024px){
#accordion .content {display:none;}
li{
    list-style:none;

}

.subject:hover{

        background: #f3f3f3;

}




.subject{
    font-size: 15px;
    font-weight: 200;
    padding-left: 7%;
    padding: 3%;
}


.content{
    font-size: 15px;
    font-weight: 300;

    padding: 4%;

}
.a_qa{
    width: 60%;
    border-top: 1px solid silver;

    margin:0 auto;
    margin-bottom: -10%;


}


.a_qa ul li{
    border-bottom: 1px solid #A6A6A6;
}
 div ul li div{
    border-top: 1px solid #A6A6A6;
}
#gnb_j{
    width:100%; background:#fff;z-index:100; margin: 0 auto;


}
#gnb_j li{
    float:left; width: 14%;

}
#gnb_j li a{
    display:block;padding:10px 0;text-align:center;border-right:1px solid #A6A6A6; border-bottom:2px solid #A6A6A6;border-left:1px solid #A6A6A6;
    border-top: 2px solid #A6A6A6;
}
#gnb_j li a:hover{
    color: hotpink;
}
#gnb_j li a.on{
    border-bottom:4px solid #333;
}
#m1 h2{
    margin-top: 15%
}
#m2 h2{
    margin-top: 15%
}
#m3 h2{
    margin-top: 15%
}
#m4 h2{
    margin-top: 15%
}
.faq_area{
    width: 100%;
    margin: 0 auto;
    padding: 0px;

}

.list_tab{


    margin-bottom: 5%;
    width: 100%;
    padding: 20px;
    margin-top: 10%;
    margin-left: 13%;





}



.qatitle{

    margin-top: 4%;
    padding-top: 10px;
    font-size: 44px;
    text-align: center;
    font-family: 'SDMyeongjo', sans-serif;
    font-weight: 500;

    line-height: 1;

}
.qat{
    height: 150px;
    margin: 0 auto;
    width: 100%;
    text-align: center;



}

.section{
    width: 100%;
    padding-bottom: 30%;

}

.btntab{


    margin: 0 auto;
    width: 100%;
    text-align: center;

}



.banner{
    width: 1024px;
    margin: 0 auto;
    padding: 0px;

}
.bnimg{
    width: 100%;



}

.opinion{



    margin-top: 5%;
    text-align: center;
    width: 100%;

}

.inner{
    width: 100%;
    font-size: 16px;


    color:#444;
    margin-bottom: -5%;

}

.btntab .on{
    color: #222222;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}

.btntab a{
    font-size: 26px;

    line-height: 1;
    margin: 0 20px;
    transition: all .3s;

}

.btntab a:nth-child(2):hover{
    color:#888888;
}
.btntab a:nth-child(3):hover{
    color:#888888;
}

.content p{
    width: 100%;

}

.all_view{
    width: 1024px;
    margin: 0 auto;
}

}
