#w_wrap{/*watches*/
            text-align: center;
        }
        #w_wrap h2{
            position: relative;
            bottom: 80px;
            font-size: 30px;
            width: 247px;
            text-align: center;
            margin: 0px auto 10%;
            color: white;
            font-family: 'Cinzel Decorative', cursive;
            font-weight: lighter;
        }
        #w_wrap article img{
            width: 100%
        }

        article div{/*시계설명 단*/
            width: 100%;
            text-align: center;
            margin: 0px auto 10%;
        }

        #gender{

            display: inline-block;
            margin: 0px auto;
        }
        #gender div{
            width: 45%; height: 45%;
            display: inline-block;
            margin: 2%;
        }
         #gender div h3{
            font-size: 15px;
            margin: 5%;
            font-family: 'Cinzel Decorative', cursive;
        }
       #gender div img{
            width: 100%; height: 100%;
            transition-duration: 0.5s;
            transform: scale(1.0);
        }

        #gender div img:hover{
            transform: scale(1.2);
        }
