#w_wrap{/*watches*/
            text-align: center;
            margin-top: 70px;

        }
        #w_wrap h2{
            font-size: 50px;
            width: 247px;
            margin: 0px auto 10%;
             position: relative;
            bottom: 150px;
            color: white;
            font-family: 'Cinzel Decorative', cursive;
            font-weight: lighter;
        }
        #w_wrap article img{
            width: 100%
        }

        article div{/*시계설명 단*/
            width: 60%;
            text-align: left;
            margin: 0px auto 10%;
        }

        #gender{

            display: inline-block;
            margin: 0px auto;
        }
        #gender div{
            width: 45%; height: 45%;
            display: inline-block;
            margin: 1%;


        }
        #gender div h3{
            font-size: 20px;
            margin: 7%;
            font-weight: lighter;
            font-family: 'Cinzel Decorative', cursive;
        }
       #gender div img{
            width: 100%; height: 100%;
            transition-duration: 0.5s;
            transform: scale(1.0);
        }

        #gender div img:hover{
            transform: scale(1.2);
        }
